@model payroll_app.Models.repository.Designation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Designation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DesignationId" />
            <div class="form-group">
                <label asp-for="DesignationName" class="control-label"></label>
                <input asp-for="DesignationName" class="form-control" />
                <span asp-validation-for="DesignationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignationCode" class="control-label"></label>
                <input asp-for="DesignationCode" class="form-control" />
                <span asp-validation-for="DesignationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignationFormula" class="control-label"></label>
                <input asp-for="DesignationFormula" class="form-control" />
                <span asp-validation-for="DesignationFormula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
